<% @title="Tasks" %>

<p id="notice"><%= notice %></p>

<%= link_to 'Boards', boards_path %> |
<%= link_to 'Phases', phases_path %>

<h1>Tasks</h1>

<%= link_to 'New Task', new_task_path %>

<table>
  <thead>
    <tr>
      <th>Id task</th>
      <th>Task</th>
      <th>Id phase</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% ActiveRecord::Base.connection.exec_query("select * from tasks order by id_phase").each do |task| %>
      <tr>
        <td><%= task["id"] %></td>
        <td><%= task["task"] %></td>
        <td><%= task["id_phase"] %></td>
        <% @tasks.each do |task2| 
          if task2.id == task["id"]
        %>
            <td><%= link_to 'Show', task2 %></td>
            <td><%= link_to 'Edit', edit_task_path(task2) %></td>
            <td><%= link_to 'Destroy', task2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          
          <% end
        end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
