<% @title="Editing Board" %>

<%= link_to 'Boards', boards_path %> |
<%= link_to 'Phases', phases_path %> |
<%= link_to 'Tasks', tasks_path %>

<h1>Editing Board</h1>

<%= render 'form', board: @board %>

<!-- <%= link_to 'Show', @board %> | -->
<%= link_to 'Show', @board %>
