<% @title="Boards" %>

<p id="notice"><%= notice %></p>

<div class="btn btn-outline-info btn-sm">
  <%= link_to 'Phases', phases_path, :class => "btn" %>
</div>
<div class="btn btn-outline-info btn-sm">
  <%= link_to 'Tasks', tasks_path, :class => "btn" %>
</div>

<h1>Boards</h1>

<div class="btn btn-outline-info btn-sm">
  <%= link_to 'New', new_board_path, :class => "btn" %>
</div>
<h1></h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th colspan="4">Board</th>
    </tr>
  </thead>

  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= board.id %></td>
        <td><%= board.name %></td>
        <td><%= link_to 'Show', board %></td>
        <td><%= link_to 'Edit', edit_board_path(board) %></td>
        <td><%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
