<% @title="Boards" %>

<p id="notice"><%= notice %></p>

<div align="right">
  <div class="btn btn-outline-info btn-sm">
    <%= link_to 'Phases', phases_path, :class => "btn" %>
  </div>
  <div class="btn btn-outline-info btn-sm">
    <%= link_to 'Tasks', tasks_path, :class => "btn" %>
  </div>
</di>

<div align="left">
  <!--<h1>Boards</h1>-->

  <div class="btn btn-outline-info btn-sm">
    <%= link_to 'New Board', new_board_path, :class => "btn" %>
  </div>
</div>
<h6></h6>

<table class="table">
  <thead>
    <tr>
      <th colspan="2">Board</th>
    </tr>
  </thead>

  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= board.name %></td>
        <td>
          <div class="btn btn-outline-info btn-sm">
            <%= link_to 'Show', board, :class => "btn" %>
          </div>
          <div class="btn btn-outline-info btn-sm">
            <%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %>
          </div>
        </td>
        <!-- <td><%= link_to 'Edit', edit_board_path(board) %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
