<p id="notice"><%= notice %></p>

<%= link_to 'Boards', boards_path %> |
<%= link_to 'Phases', phases_path %> |
<%= link_to 'Tasks', tasks_path %>

<p>
  <strong>Id board:</strong>
  <%= @board.id %>
  <h1> <%= @board.name %> </h1>
</p>

<%= link_to 'Edit', edit_board_path(@board) %>

<h1>Phases</h1>

<%= link_to 'New Phase', new_phase_path %> |
<%= link_to 'New Task', new_task_path %>

<table border="1">
  <tbody>

    <tr>
      <% ActiveRecord::Base.connection.exec_query("select * from phases where id_board=#{@board.id}").each do |i| %>
        <th nowrap>Id phase</th>
        <th>Phase</th>
        <th nowrap>Id board</th>
        <th colspan="2"></th>
      <% end %>
    </tr>
    <tr>
      <% ActiveRecord::Base.connection.exec_query("select * from phases where id_board=#{@board.id}").each do |phase| %>        
        <td><%= phase["id"] %></td>
        <td nowrap><%= phase["name"] %></td>
        <td><%= phase["id_board"] %></td>
        <td><%= link_to 'Edit', edit_phase_path(phase["id"]) %></td>
        <td>>>>>></td>
      <% end %> 
    </tr>
    <tr>
      <% ActiveRecord::Base.connection.exec_query("select * from phases where id_board=#{@board.id}").each do |phase| %>
        <th nowrap>Id task</th>
        <th>Task</th>
        <th nowrap>Id phase</th>
        <th colspan="2"></th>
      <%end %>
    </tr>
    <% tasks = [] 
    pha = 0 %>
    <tr>
      <% ActiveRecord::Base.connection.exec_query("select * from phases where id_board=#{@board.id}").each do |phase| i=0
        ActiveRecord::Base.connection.exec_query("select * from tasks where id_phase=#{phase["id"]}").each do |task| i=1  
          if pha != task["id_phase"] %>
            <td><%= task["id"] %></td>
            <td nowrap><%= task["task"] %></td>
            <td><%= task["id_phase"] %></td>
            <td><%= link_to 'Edit', edit_task_path(task["id"]) %></td>
            <td>>>>>></td>
            <% pha = task["id_phase"] 
          else
            tasks.push(task)
          end
        end 
        if i == 0 %>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>>>>>></td>
        <% end
      end %>
    </tr>
    <% while !tasks.empty? 
      pha = 0 %>
      <tr>
        <% ActiveRecord::Base.connection.exec_query("select * from phases where id_board=#{@board.id}").each do |phase| i=0
          j=0
          for task in tasks  
            if pha != task["id_phase"] && phase["id"] == task["id_phase"] %>
              <td><%= task["id"] %></td>
              <td nowrap><%= task["task"] %></td>
              <td><%= task["id_phase"] %></td>
              <td><%= link_to 'Edit', edit_task_path(task["id"]) %></td>
              <td>>>>>></td>
              <% pha = task["id_phase"] 
              tasks.delete_at(j)
              i=1
            end
            j = j + 1
          end 
          if i == 0 %>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>>>>>></td>
          <% end
        end %>
      </tr>
    <% end %>

  </tbody>
</table>

<br>
