<% @title="Editing Phase" %>

<%= link_to 'Boards', boards_path %> |
<%= link_to 'Phases', phases_path %> |
<%= link_to 'Tasks', tasks_path %>

<h1>Editing Phase</h1>

<%= render 'form', phase: @phase %>

<%= link_to 'Show', @phase %>
