<p id="notice"><%= notice %></p>

<%= link_to 'Boards', boards_path %> |
<%= link_to 'Phases', phases_path %> |
<%= link_to 'Tasks', tasks_path %>

<p>
  <strong>Id phase:</strong>
  <%= @phase.id %> |
  <strong>Id board:</strong>
  <%= @phase.id_board %>
  <h1> <%= @phase.name %> </h1>
</p>

<%= link_to 'Edit', edit_phase_path(@phase) %> |

<%= link_to 'New Task', new_task_path %>

<table>
  <thead>
    <tr>
      <th>Id task</th>
      <th>Task</th>
      <th>Id phase</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% ActiveRecord::Base.connection.exec_query("select * from tasks where id_phase=#{@phase.id}").each do |task| %>
      <tr>
        <td><%= task["id"] %></td>
        <td><%= task["task"] %></td>
        <td><%= task["id_phase"] %></td>
        <td><%= link_to 'Edit', edit_task_path(task["id"]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
