<% @title="Show Phase" %>

<p id="notice"><%= notice %></p>

<div class="btn btn-outline-info btn-sm">
  <%= link_to 'Back', phases_path, :class => "btn" %>
</div>
<!--
<div class="btn btn-outline-info btn-sm">
    <%= link_to 'Boards', boards_path, :class => "btn" %>
</div>
<div class="btn btn-outline-info btn-sm">
    <%= link_to 'Phases', phases_path, :class => "btn" %>
</div>
<div class="btn btn-outline-info btn-sm">
    <%= link_to 'Tasks', tasks_path, :class => "btn" %>
</div>
-->

<p>
  <!--
  <strong>Id phase:</strong>
  <%= @phase.id %>
  -->
  <h6> <%= @phase.name %> </h6>
</p>

<!--
<%= link_to 'Edit', edit_phase_path(@phase) %> |
<%= link_to 'Destroy', @phase, method: :delete, data: { confirm: 'Are you sure?' } %>
-->

<!--
<div class="btn btn-outline-info btn-sm">
  <%= link_to 'New Task', new_task_path, :class => "btn" %>
</div>
<h6></h6>
-->

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Task</th>
      <!-- <th>Id phase</th> -->
      <!-- <th colspan="1"></th> -->
    </tr>
  </thead>

  <tbody>
    <% ActiveRecord::Base.connection.exec_query("select * from tasks where id_phase=#{@phase.id}").each do |task| %>
      <tr>
        <td><%= task["task"] %></td>
        <!-- <td><%= task["id_phase"] %></td> -->
        <!-- <td><%= link_to 'Edit', edit_task_path(task["id"]) %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
